#### **ПРАКТИКА**

*Вашим заданием в этом модуле будет проанализировать и преобразовать данные о велопоездках клиентов компании Citi Bike (США), специализирующейся на прокате велосипедов.*

*Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:*

**starttime** - время начала поездки (дата, время);

**stoptime** - время окончания поездки (дата, время);

**start station id** - идентификатор стартовой стоянки;

**start station name** - название стартовой стоянки;

**start station latitude, start station longitude** - географическая широта и долгота стартовой стоянки;

**end station id** - идентификатор конечной стоянки;

**end station name** - название конечной стоянки;

**end station latitude, end station longitude** - географическая широта и долгота конечной стоянки;

**bikeid** - идентификатор велосипеда;

**usertype** - тип пользователя (**Customer** - клиент с подпиской на 24 часа или на три дня, **Subscriber** - подписчик с годовой арендой велосипеда);

**birth year** - год рождения клиента;

**gender** - пол клиента (**0** - неизвестный, **1** - мужчина, **2** - женщина).

In [37]:
import pandas as pd

citibike_tripdata = pd.read_csv('data/citibike_tripdata.csv', sep=',')
display(citibike_tripdata)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

**Задание 6.1**

Сколько пропусков в столбце **start station id**?

In [38]:
citibike_tripdata["start station id"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: start station id
Non-Null Count   Dtype
--------------   -----
299831 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB

**Правильный ответ:** 169

**Задание 6.2**

Какой тип данных имеют столбцы **starttime** и **stoptime**?

In [39]:
citibike_tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

**Правильный ответ:** object

**Задание 6.3**

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [40]:
print(citibike_tripdata["start station id"].mode()[0])

281.0

**Задание 6.4**

Велосипед с каким идентификатором является самым популярным?

In [41]:
print(citibike_tripdata['bikeid'].mode()[0])

33887

**Задание 6.5**

Какой тип клиентов (столбец **usertype**) является преобладающим - **Subscriber** или **Customer**?

В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [42]:
mode_usertype = citibike_tripdata["usertype"].mode()[0]
count_mode_user = citibike_tripdata[citibike_tripdata["usertype"] == mode_usertype].shape[0]
print(round(count_mode_user / citibike_tripdata.shape[0], 2))

0.77

**Задание 6.6**

Кто больше занимается велоспортом - мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [43]:
male_count = citibike_tripdata[citibike_tripdata["gender"] == 1].shape[0]
female_count = citibike_tripdata[citibike_tripdata["gender"] == 2].shape[0]
print(max([male_count, female_count]))

183582

**Задание 6.7**

Выберите утверждения,которые соответствуют нашим данным:

**Правильные ответы:**

→ Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу

→ Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием **"Eastern Pkwy & Washington Ave"**

**Задание 6.8**

В первую очередь удалим лишнюю информацию из данных.

В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [44]:
citibike_tripdata.drop(["start station id", "end station id"], axis=1, inplace=True)
print(citibike_tripdata.shape[1])

12

 Для удаления столбцов из таблицы можно воспользоваться методом drop(), передав в него наименования столбцов, а также параметр axis=1.

**Задание 6.9**

Замените признак **birth year** на более понятный признак возраста клиента **age**. Годом отсчёта возраста выберите 2018 год. Столбец **birth year** удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [45]:
citibike_tripdata["age"] = 2018 - citibike_tripdata["birth year"]
citibike_tripdata.drop(["birth year"], axis=1, inplace=True)
print(citibike_tripdata[citibike_tripdata["age"] > 60].shape[0])

11837

**Задание 6.10**

Создайте признак длительности поездки **trip duration**. Для этого вычислите интервал времени между временем окончания поездки **(stoptime)** и её началом **(starttime)**. Сколько целых минут длилась поездка под индексом 3 в таблице?

In [34]:
citibike_tripdata["starttime"] = pd.to_datetime(citibike_tripdata["starttime"])
citibike_tripdata["stoptime"] = pd.to_datetime(citibike_tripdata["stoptime"])
citibike_tripdata["trip duration"] = (citibike_tripdata["stoptime"] - citibike_tripdata["starttime"])
citibike_tripdata.loc[3, "trip duration"]

Timedelta('0 days 00:07:16.837000')

**Задание 6.11**

Создайте **«признак-мигалку» weekend**, который равен **1**, если поездка начиналась в выходной день (суббота или воскресенье), и **0** - в противном случае. Выясните, сколько поездок начиналось в выходные.

In [35]:
weekday = citibike_tripdata['starttime'].dt.dayofweek
citibike_tripdata['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
citibike_tripdata['weekend'].sum()

115135

**Задание 6.12**

Создайте признак времени суток поездки **time_of_day**. Время суток будем определять из часа начала поездки. Условимся, что:

→ поездка совершается ночью **(night)**, если её час приходится на интервал от **0** (включительно) до **6** (включительно) часов;

→ поездка совершается утром **(morning)**, если её час приходится на интервал от **6** (не включительно) до **12** (включительно) часов;

→ поездка совершается днём **(day)**, если её час приходится на интервал от **12** (не включительно) до **18** (включительно) часов;

→ поездка совершается вечером **(evening)**, если её час приходится на интервал от **18** (не включительно) до **23** часов (включительно).

Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [36]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'

citibike_tripdata['time_of_day'] = citibike_tripdata['starttime'].dt.hour.apply(get_time_of_day)
a = citibike_tripdata[citibike_tripdata['time_of_day'] == 'day'].shape[0]
b = citibike_tripdata[citibike_tripdata['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9